<div class="mb-sm">
  <%= simple_format h (question.body) %>
</div>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <% unless question.hidden? %>
    <% icon_setting = { fa_icon: 'eye-slash', title: 'Скрыть вопрос' } %>
  <% else %>
    <% icon_setting = { fa_icon: 'eye', title: 'Показать вопрос' } %>
  <% end %>

  <div>
    <%= link_to fa_icon('pencil'), edit_question_path(question),
      title: 'Изменить вопрос' %>
    <%= button_to fa_icon('trash-o'), question_path(question),
      method: :delete, title: 'Удалить вопрос' %>
    <%= button_to fa_icon(icon_setting[:fa_icon]), hide_question_path(question),
      method: :put, title: icon_setting[:title] %>
  </div>
</div>
