<div class="mb-sm">
  <% if question.author.present?%>
    Вопрос <%= link_to "##{question.id}", question_path(question) %>
    от: <%= link_to display_nickname(question.author), user_path(question.author) %>
    для: <%= link_to display_nickname(question.user), user_path(question.user) %>
  <% else %>
    <p class="text-grey">Вопрос от анонимного пользователя &#128373</p>
  <% end %>
</div>

<div class="mb-sm">
  <p class="mb-sm text-grey text-sm">Вопрос:</p> <%= simple_format h (question.body) %>
</div>

<% if question.answer.present? %>
  <div class="mb-sm text-dark-red">
    <p class="mb-sm text-grey text-sm">Ответ:</p> <%= simple_format h (question.answer) %>
  </div>
<% end %>

<% if question.hashtags.present? %>
  <div class="mb-sm text-light">
    <%= links_for_hashtags(question.hashtags) %>
  </div>
<% end %>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <% unless question.hidden? %>
    <% hide_icon_setting = { fa_icon: 'eye-slash', title: 'Скрыть' } %>
  <% else %>
    <% hide_icon_setting = { fa_icon: 'eye', title: 'Показать' } %>
  <% end %>

  <% unless question.answer.present? %>
    <% edit_icon_setting = { fa_icon: 'reply', title: 'Ответить' } %>
  <% else %>
    <% edit_icon_setting = { fa_icon: 'pencil', title: 'Редактировать'} %>
  <% end %>

  <% if current_user == question.user %>
    <div>
      <%= link_to fa_icon(edit_icon_setting[:fa_icon]), edit_question_path(question),
        title: edit_icon_setting[:title], class: 'mr-sm' %>
      <%= button_to fa_icon('trash-o'), question_path(question),
        method: :delete, title: 'Удалить', form: {data: {turbo_confirm: "Вы точно хотите удалить этот вопрос?"}}, class: 'mr-sm' %>
      <%= button_to fa_icon(hide_icon_setting[:fa_icon]), hide_question_path(question),
        method: :put, title: hide_icon_setting[:title] %>
    </div>
  <% end %>
</div>
